/* ----------------------- */
#button-item-name {
    width: 20%;
    /* padding-left: 10%; */
    padding-left: 15%;
    text-align: left;

}

#button-item-wins {
    width: 10%;
    /* margin-left: 26%; */
    padding-left: 4%;
    text-align: left;
}

#button-item-points {
    width: 10%;
    /* margin-left: 2%; */
    padding-left: 9%;
    text-align: left;
}

#button-item-position {
    width: 10%;
    /* margin-left: 5%; */
    padding-left: 6%;
    text-align: left;
}

#downarrow {
    width: 60%;
    /* margin-left: 2%; */
    padding-left: 9%;
    padding-top: 15%;
    text-align: left;
    float: right;
}

#button-item-icon {
    width: 2%;
    opacity: 75%;
}

/* .dropdown-toggle {
height: 10px;
margin-top: auto;
margin-bottom: auto;
} */

.bio-img {
max-width: 150px;
/* margin-right: 50%; */
/* margin-left: 42%; */
}
/* ---------------------------- */

.biography {
    margin-left: 5%;
    width: 40%;
}

.dropdown-item {
    padding-left: 0;
    padding-right: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}

#biography-header {
    margin-bottom: 25px; 
}

.interesting-content {
    width: 40%;
    margin-right: 5%;
}

.table tr {
    cursor: pointer;
}
.hiddenRow {
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}

@media screen and (min-width: 1200px) {
    #button-item-points {padding-left: 13%;}
    #button-item-wins {padding-left: 5%;}
    #button-item-name {padding-left: 16%}
  }