.carousel-item {
    height: 400px;
}

.carousel-caption {
    background-color:rgba(44, 44, 44, 0.637);
    height: 10%;
    padding-top: 10px;
}

/* .carousel-control-next, 
.carousel-control-prev  {
    color:black;
} */